<%= form_for(@menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% @menu_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset name="item">
    <legend>Item</legend>
    <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.text_field :price, :placeholder => "Price"  %>
  </fieldset>
  <fieldset name="ingredients">
    <legend>Ingredients</legend>

    <%= f.fields_for :ingredients do |i| %>
      <%= i.text_field :name %>
      <%= link_to 'Delete', remove_ingredient_path(i.object.id, @menu_item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= f.fields_for :ingredients, Ingredient.new do |i| %>
      <%= i.text_field :name %>
      <button>Add</button>
    <% end %>


  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>